# dependencies
node_modules/
.pnpm-store/

# env / secrets
.env
.env.local
.env.*.local
*.p8

# build outputs
dist/
build/
.turbo/
.expo/
.next/
out/
*.tsbuildinfo

# native
ios/
android/
*.ipa
*.apk

# supabase local
supabase/.branches
supabase/.temp

# os / editor
.DS_Store
.vscode/
.idea/

# logs
*.log
npm-debug.log*
